*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header
{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,purple, blue);
}
body
{
    display: flex;
    justify-content: center;
}
nav
{
    width: 100vw; 
    height: 11vh;
    background-color: rgb(3, 2, 92);
}
.navigation
{
    position: absolute;
    top:2vh;
    left:65vw;
    font-size: 1.7rem;
}
.navigation a
{
    margin-right: 10px;
    text-decoration: none;
    color: #000;;
}
nav img
{
    float: left;
    width:4vw;
    border-radius: 15px;
}
#slogan
{
    margin-left: 40px;
    height: 50vh;
    display: flex;
    font-size: 2.4rem;
    align-items: center;
}
#book
{
    
}