/** @format */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  --smallfont: 0.5rem;
  --mainfont: 1.2rem;
  --bigfont: 1.7rem;
  --XLfont: 2rem;
  --bottompad: 50px;
  --toppad: 50px;
}
html {
  scroll-behavior: smooth;
}
header {
  position: relative;
  height: fit-content;
  background-image: linear-gradient(to right, black, blue);
  color: white;
}
body {
  min-height: fit-content;
  align-items: center;
  font-family: sans-serif;
}
.brand {
  min-width: 27vw;
  height: fit-content;
}
#brandName {
  line-height: 55px;
  font-size: var(--bigfont);
  color: #ffff;
}
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  background-color: rgb(3, 2, 92);
  z-index: 1000;
}

nav ul {
  display: block;
  justify-content: end;
  position: relative;
  line-height: 35px;
  font-size: var(--mainfont);
}
nav ul li {
  display: inline;
  margin: 10px;
}
nav ul li a:hover {
  border-bottom: purple solid 2px;
}
.navigation a {
  text-decoration: none;
  line-height: 50px;
  margin-right: 5px;
  color: #ffff;
}
.navigation a ion-icon {
  position: relative;
  top: 2px;
}
nav img {
  float: left;
  width: 4vw;
  border-radius: 15px;
}
#LeftContent {
  display: inline-block;
}
#HomePage {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#RightContent {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: rgba(4, 2, 92, 0.329);
  backdrop-filter: blur(10px);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#firstVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  border-radius: 1vh;
}

#slogan {
  position: relative;
  top: 10vh;
  margin-left: 40px;
  width: fit-content;
  height: 50vh;
  display: flex;
  font-size: var(--XLfont);
  align-items: center;
  animation-name: slideup;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: 1;
}
@keyframes slideup {
  from {
    transform: translateY(50%);
  }
}
.book {
  color: #ffff;
  display: inline-block;
  position: relative;
  left: 3vw;
  background-color: transparent;
  padding: 12px;
  border: solid #ffff 1px;
  animation-name: slideleft;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: 1;
  transition: background-color 0.5s;
  cursor: pointer;
}
@keyframes slideleft /*Does not work ? *?*/ {
  from {
    transform: translateX(-300px);
  }
}
.book:hover {
  background-color: rgb(3, 2, 92);
  color: white;
}
#booking {
  z-index: 100;
  cursor: default;
  display: none;
  gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 10%;
  position: absolute;
  height: 100vh;
}

#backbtn {
  position: absolute;
  top: 0;
  right: -100;
  font-size: 250%;
  cursor: pointer;
}
#backbtn:hover {
  transform: scale(1.1);
}
#bookbtn {
  left: 0;
  padding: 5px;
  margin-top: 10px;
  width: 10vw;
}
#bookingbtn {
  padding-right: 25px;
  padding-left: 25px;
}
#pricingbtn {
  padding-right: 25px;
  padding-left: 25px;
}
.plans {
  display: flex;
  justify-content: space-evenly;
  font-size: var(--bigfont);
}
#total {
  display: none;
}
#place {
  display: none;
}
input {
  color: #ffff;
  background-image: linear-gradient(to right, purple, blue);
  border-radius: 15px;
  border: none;
  margin: 15px;
  display: inline;
  padding: 2%;
  width: 50%;
  height: fit-content;
  text-align: center;
}
fieldset {
  border: none;
}
label {
  font-size: var(--bigfont);
}
h4 {
  margin-bottom: 2%;
  font-size: var(--bigfont);
}
#socialIcons {
  position: relative;
  display: inline-block;
  margin: 10px;
  top: 90px;
  right: 80px;
}
#socialIcons a {
  display: inline-block;
  color: white;
  font-size: var(--bigfont);
}
#socialIcons a:hover {
  color: purple;
  animation-play-state: paused;
}
.up {
  animation-name: up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.down {
  animation-name: down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes up {
  50% {
    transform: translateY(100%);
  }
}
@keyframes down {
  50% {
    transform: translateY(-100%);
  }
}
main {
  background-color: white;
  height: fit-content;
}
section {
  position: relative;
  height: fit-content;
}
#About {
  height: fit-content;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, black, blue);
}
#words1 {
  position: absolute;
  animation: wordsright 5s infinite;
  transition: display 0.5s;
  color: white;
}
#words2 {
  position: absolute;
  left: 70vw;
  animation: wordsleft 5s infinite;
  transition: display 0.5s;
  color: white;
}
@keyframes wordsright {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wordsleft {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#LEARN {
  position: relative;
  top: 50px;
  left: 25vh;
}
#GROW {
  position: relative;
  top: 20vh;
  left: 25vh;
}
#EXPERIENCE {
  position: relative;
  top: 35vh;
  left: 25vh;
}
#REFLECT {
  position: relative;
  top: 50vh;
  left: 1vh;
}
#UNDERSTAND {
  position: relative;
  top: 60vh;
  left: -25vh;
}
#MATHS {
  position: relative;
  top: 50px;
  left: 25vh;
}
#ENGLISH {
  position: relative;
  top: 20vh;
  left: 0vh;
}
#BUSINESS {
  position: relative;
  top: 35vh;
  left: -25vh;
}
#ACCOUNTING {
  position: relative;
  top: 50vh;
  left: -30vh;
}
#EMS {
  position: relative;
  top: 60vh;
  left: -35vh;
}
#Logo {
  margin-top: 40px;
  width: 40%;
  border-radius: 100%;
  z-index: 1000;
}
.aboutUs {
  padding: 50px;
  background-color: rgba(4, 2, 92, 0.253);
  border-radius: 20px;
  font-size: var(--mainfont);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(50px);
  border-top: 1px solid rgba(255, 250, 255, 0.137);
  border-left: 1px solid rgba(255, 250, 255, 0.137);
  width: 95vw;
  height: fit-content;
  margin-top: var(--toppad);
  margin-bottom: var(--bottompad);
  color: #ffff;
}
#Subjects {
  width: fit-content;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
}

#desc {
  font-size: var(--mainfont);
}
.arrow {
  font-size: var(--XLfont);
  cursor: pointer;
  color: #000;
}
.arrow:hover {
  transform: scale(1.1);
}
#Tutors {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, blue, black);
}
#secondVideo {
  border-radius: 20%;
  position: relative;
  float: inline-start;
  width: 100px;
  height: fit-content;
}
#Card {
  margin: 10px;
  width: fit-content;
  backdrop-filter: blur(0px);
  background-color: rgba(4, 2, 92, 0.479);
}
#Tutor {
  margin-bottom: var(--bottompad);
  margin-top: var(--toppad);
  width: fit-content;
  font-size: var(--mainfont);
}
.card {
  margin: 15px;
  margin-bottom: var(--bottompad);
  margin-top: var(--toppad);
  display: inline-block;
  cursor: pointer;
  font-size: var(--mainfont);
  background-color: rgba(128, 128, 128, 0.247);
  backdrop-filter: blur(10px);
  padding: 25px;
  width: fit-content;
  height: fit-content;
  color: #ffff;
}
#Business {
  line-height: 4vh;
}
#learningMode {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, black, blue);
}
#locations {
  text-align: center;
  display: block;
}
#locations label {
  font-size: var(--mainfont);
}
iframe {
  width: 90%;
  height: 250px;
}
#thirdVideo {
  margin-top: 2%;
  border-radius: 20%;
  position: relative;
  max-width: 80vw;
  height: fit-content;
}
.container {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: blue;
}
#Pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, black, blue);
}
#Other {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, blue, black);
}
#otherServices {
  text-align: start;
}
footer {
  display: flex;
  justify-content: space-evenly;
  height: 25vh;
  background-color: rgb(3, 2, 92);
  position: relative;
  font-size: var(--mainfont);
}
#leftfoot {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  width: 25vw;
  height: 25vh;
  color: white;
}
#leftfoot ul a {
  color: #ffff;
}
#rightfoot {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  width: 25vw;
  height: 25vh;
  color: white;
}
#rights {
  position: absolute;
  display: inline-block;
  top: 82%;
  left: 35%;
  font-size: var(--mainfont);
}

#topBook {
  color: #ffff;
  display: flex;
  justify-content: space-between;
}
#bottomBook {
  position: relative;
  max-width: 80vw;
  height: fit-content;
}
#place,
#locations {
  margin-top: 15px;
  margin-bottom: 15px;
}
#Accounting,
#Business,
#English,
#Math,
#Physics,
#Online,
#Physical,
#place input,
#locations input {
  display: inline-block;
  width: fit-content;
  margin: 0;
}
/* ===========================================Mobile Dev=================================================================== */
#mobileNav {
  background-color: rgba(4, 2, 92, 0.479);
  backdrop-filter: blur(10px);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
  width: fit-content;
  transition: all 0.5s;
  height: 100vh;
}
#mobileIcon {
  position: fixed;
  top: 0;
  z-index: 1000;
  cursor: pointer;
}
#mobileIcon ion-icon {
  display: inline-block;
  font-size: 3.5rem;
  color: white;
}
#meNu {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#meNu li {
  font-size: var(--mainfont);
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 2px;
  font-weight: bold;
}
ul a {
  text-decoration: none;
  color: #ffff;
}
label {
  display: inline-block;
}
@media only screen and (max-width: 850px) {
  * {
    --smallfont: 0.5rem;
    --mainfont: 0.9rem;
    --bigfont: 1.2rem;
    --XLfont: 2rem;
    --bottompad: 50px;
    --toppad: 50px;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  #words1,
  #words2 {
    display: none;
  }

  #rights {
    display: none;
  }
  #Pricing {
    display: grid;
  }
  #rightContent {
    width: 100vw;
  }
  #slogan {
    font-size: var(--bigfont);
  }
  #socialIcons {
    right: 0px;
  }
  #learning {
    display: grid;
  }
  #Con {
    margin-right: 0;
  }
  #booking {
    width: 100vw;
    gap: 0px;
    position: absolute;
    top: -10%;
    margin: 0;
  }
  #topBook {
    padding: 0;
    margin: 0;
    height: fit-content;
  }
  #topBook input {
    margin: 0;
    width: 19vw;
  }
  label {
    font-size: var(--mainfont);
  }
  #backbtn {
    position: relative;
    left: 90%;
  }
}
