*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header
{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,purple, blue);
}
body
{
    display: flex;
    justify-content: center;
}
nav
{
    width: 100vw; 
    height: 11vh;
    background-color: rgb(3, 2, 92);
}
.navigation
{
    position: absolute;
    top:2vh;
    left:65vw;
    font-size: 1.7rem;
}
.navigation a
{
    margin-right: 10px;
    color: #000;
}
nav img
{
    float: left;
    width:4vw;
    border-radius: 15px;
}
#slogan
{
    position: relative;
    top:10vh;
    margin-left: 40px;
    height: 50vh;
    display: flex;
    font-size: 2.4rem;
    align-items: center;
}
#book
{
    position: relative;
    left: 3vw;
    background-color: transparent;
    padding: 12px;
    border: solid #000 1px;
    transition: background-color 0.5s;
}
#book:hover 
{
    background-color:rgb(3, 2, 92);
    color:white;
}